# Virtual Environment
venv/
.env/
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code settings (optional)
.vscode/settings.json

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp